 .container {
	width: 60%;
	margin: 1% auto 0;
	background-color: #f0f0f0;
	padding: 2% 5%;
	border-radius: 10px
}

ul {
	padding-left: 20px;
}

	ul li {
		line-height: 2.3
	}

a {
	color: #20a53a
}
		
.apk-item {
      margin: 10px 0;
    }
	
.apk-item a {
  font-size: 1.1em;
  text-decoration: none;
  color: #007BFF;
}

.container_detail {
  max-width: 600px;
  margin: 50px auto;
  font-family: Arial, sans-serif;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}
	
 h1 {
      color: #333;
    }
	
button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.remark {
	margin-top: 20px;
}

#remark_datail {
	color: #ff0000;
}